/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/evidence
public/corrective_action_files/
public/immediate_action_file/
public/ofi_attachments/
